<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
 	<type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin name="smart_shipping_custombutton_for_sales_order_view" type="Smarttshipping\Shipping\Plugin\Block\Adminhtml\Shipment\View"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="smart_shipping_custombutton_for_sales_order_edit" type="Smarttshipping\Shipping\Plugin\Block\Adminhtml\Order\View"/>
    </type>
</config>